:root{

	font-size: 18px;
}

body{
  
	margin: 0;
	padding: 0;
}
.one{
	display: flex;
	background-color: #001933			;
	width:100vw;
	height:40vh;
	border-radius: 2vh;
	box-shadow: 0px 3px 20px 2px #99CCFF;

}
.text1{
	
	font-size: 2rem;
	font-family: 'Song Myung', serif;
	color: #99CCFF;
	font-weight:700;
	padding-left: 10vw;
    margin-top: 30vh;
	

}
.two{
 display: flex;
	height: 50vh;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

    

}




.text{
	
	padding-top: 5vh;
font-family: "Istok Web", sans-serif;
font-size: 1rem;
color: #ff4500;
padding-left: 10vw;
margin-bottom: 5vh;


}


	.text2{
font-family: "Playfair Display", serif;
	font-size: 1rem;
    flex-direction: column;
    color: #000000;
    padding-left: 10vw;
    margin-bottom: 5vh;
    margin-top: 5vh;


	}

.three{
     display: flex;
    height: 20vh;

}
	.my_image {
    border: 1px solid #99CCFF;
    border-radius: 5px;
    box-shadow: 0px 3px 20px 2px #99CCFF;
    margin-top: 5vh;
    width: 23vw;
    
    margin-right: 5vw;
    
   
}


  

.four{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 10vw;
	margin-right: 10vw;
}
.five{
display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 10vw;
	margin-right: 10vw;

}
	

.text4{
    
	font-family: "Istok Web", sans-serif;
	font-size: 2rem;
    color: white;
    text-align: center;
    margin-top: 10vw;
    font-weight: 700;
     
    

}
.card{
   background-color: #003366;
   height: 25vw;
   width: 40vw;
   border-bottom-left-radius: 3vh;
   border-top-left-radius: 3vh;
}

.container2{
	background-color: #003366;
   height: 25vw;
   width: 40vw;
   border-top-right-radius:  3vh;
   border-bottom-right-radius:3vh;
   


}
.container1{
   display: flex;
   height: 25vw;
   width: 40vw;
   


}
.image2{
    display: flex;
	width: 38vw;
	align-items: center;
	

}

.interest{
    height: 25vw;
	width: 40vw;
	
}


.myinterests{
display: flex;
background-color: #003333;
width: 90vw;
height: inherit;
margin-top: 30vh;
border-radius: 2vh;
	box-shadow: 0px 3px 20px 2px #00CCCC;
margin-left: 5vw;
margin-right: 5vw;
flex-direction: column;




}
.columns{
    
display: flex;
flex-direction: row;
margin-top: 5vh;
margin-left: 5vw;




}
.column1{
    
margin-left: 3vw;

margin-top: 2vh;


}
.column2{
    
margin-left: 3vw;

margin-top: 2vh;
}

.column3{
    
margin-left: 3vw;

margin-top: 2vh;

}
.interest_text{

	font-size: 2rem;
    margin-top: 7vh;
	font-family: 'Song Myung', serif;
	color: #00CCCC;
	font-weight:700;
	margin-left: 11vw;
     
}
.interest_image1{
display: flex;
flex-direction: column;


}

.int_img1{
  margin-top: 10vh;
width: 15vw;
height: 10vw;
margin:4vw;
border-radius: 2vh;
	box-shadow: 0px 3px 20px 2px #00CCCC;
	border: 1px solid #00CCCC;

}
.work{

    display: flex;
    flex-direction: row;

}
.line1{

	height: 100vh;
	background-color: #004C99;
	width: 4vw;
	margin-top: 30vh;
	margin-left: 15vw;
	border-radius: 3vh;

}

.line2{

	height: 100vh;
	background-color: #004C99;
	width: 4vw;
	margin-top: 30vh;
	margin-left: 10vw;
	border-radius: 3vh;
	margin-right: 10vw;

}


.worktext{
font-size: 1.3rem;
    margin-top: 20vh;
    margin-left: 10vw;
	font-family: 'Song Myung', serif;
	color: #404040;
	font-weight:700;

}
.workt1{
font-size: 2rem;
    margin-top: 40vh;
    margin-left: 10vw;
	font-family: 'Song Myung', serif;
	color: #FF8000;
	font-weight:700;

}
.texts{

	display: flex;
	flex-direction: column;
}


















@media only screen and (max-width: 725px){
    .two{
      flex-direction: column;
      height: 60vh;
      justify-content: flex-start;
    }
    .image{
      order: -1;
    }
    .my_image{
      width: 45vw;
      
      margin-left: 10vw;
    }
    .three{

    	height: 30vh;
    }
    .four{
    	flex-direction: column;
    }
    .five{
    	flex-direction: column-reverse;
    }
    .card{
     height: 35vw;
   width: 70vw;
    margin-left: 15vw;
    margin-right: 15vw;
    border-radius: 3vh;
    }
    .container2{
 height: 35vw;
   width: 70vw;
    margin-left: 15vw;
    margin-right: 15vw;
    border-radius: 3vh;

    }
    .four{
          margin:0;

    }
    .container1{
 height: 35vw;
   width: 70vw;
    margin-left: 15vw;
    margin-right: 15vw;

    }
    .interest{
height: 35vw;
   width: 70vw;


    }
    .int_img1{

    	width: 45vw;
    	height: 40vw;
    }
    .columns{
       align-content: center;
       align-items: center;
    	flex-direction: column;
    	margin: 0;
    	padding-bottom: 10vh;
    }
    .myinterests{
    	height: inherit;
    }
    .line1{
    	margin-left:0;
    	height: inherit;

    }
    .line2{
    	margin-right: 0;
    	height: inherit;

    }
  }



  

